<h1>Registries</h1>
<p-table [value]="registries" [responsive]="true" [columns]="columns">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>
                <button pButton type="button" [icon]="registriesIcon" [disabled]="isScanning" (click)="scanRegistry()"
                        pTooltip="Scan All Registries"></button>
            </th>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>
                <button pButton type="button" [icon]="rowData.icon" [disabled]="rowData.isScanning"
                        (click)="scanRegistry(rowData)" pTooltip="Scan {{ rowData.Name }}"></button>
            </td>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchDefault>
                    {{ rowData[col.field] }}
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
