nav {
    position: absolute;
    top: 10px;
    left: 12px;

    button {
        font-size: 1.1em;
    }

    .login {
        padding: 10px;
    }
}

::ng-deep .ui-overlaypanel-content {
    padding: 0;
}

.login {
    margin: 10px;

    h3 {
        margin: 0 0 10px 0;
        padding: 0;
    }

    input {
        margin-bottom: 10px;
    }
}
